 body {
  font-family: Arial;
} 

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: rgb(244, 188, 252);
  width: 200px;
  padding: 1rem;
  border:2px solid black;
}

.green{
  color:green;
  text-decoration: underline black;
}
.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} 
