*{
    text-align: center;
}
div{
    border: 2px solid black;
    height: 25rem;
    width:35rem;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    margin:auto;
    margin-top: 50px;
}
div.box{
    display: inline;
    background-color: rgb(236, 255, 255);
    height: 10px;
    width: 10px;
    margin:5px
}
p{
    color:red;
    background-color: antiquewhite;
    font-size: 30px;
    font-style: italic;
}